*,
*::after,
*::before  // Global Reset
{
  margin: 0;
  padding: 0;
}

#header {
  background-image: url(/img/boxing/boxing-girl.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
}

/*-- Start Navbar --*/
.navbar {
  text-transform: uppercase;

  & li {
    padding-right: 0.7rem;
  }

  &-nav .nav-link {
    color: white !important;
    padding: 0.7rem 0;
    float: right;

    &:hover,
    &.active {
      color: #1ebba3 !important;
    }
  }

  &-brand img {
    width: 2rem;
    margin-left: 30px;
    // filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    //   brightness(95%) contrast(80%);
  }

  &-toggler {
    bottom: none !important;
    outline: none !important;
  }

  & .svg-inline--fa {
    color: #fff i !important;
    font-size: 1.6rem;
  }
}
/*-- End Navbar --*/

/*-- Start Welcome Text Section --*/
.welcome {
  padding: 5rem 10rem;
  margin-top: -140px;
  background-color: #fff;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  & h1 {
    color: #333;
  }

  & .home-btn {
    margin-top: 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #012f7e;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: thin;
  }

  & .btn:focus {
    box-shadow: none;
  }
}
/*-- End Welcome Text Section --*/

/*-- Start About us Section --*/
#about {
  padding: 100px 0 100px;

  & .col-md-6 {
    padding: 20px 10px;
  }

  & .yoga {
    margin: 50px auto;
  }

  & h3 {
    margin: 20px auto;
  }
}
/*-- End About us Section --*/

/*-- Start Services Section --*/
#services {
  background-color: #efefef;
  padding-top: 80px;
  padding-bottom: 80px;

  & .col-md-4 {
    padding: 20px;

    & .basi {
      margin-top: 15rem;
    }

    & h4 {
      padding: 5px;
    }

    & img {
      width: 50px;
    }
  }

  & p {
    padding: 5px;
    text-align: justify;
  }

  & .m-negative-1 {
    margin-top: -1rem;
  }
}
/*-- End Services Section --*/

/*-- Start Features Section --*/
#features {
  padding: 100px 0 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/img/sports/deadlift-powerlifter.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

  & .col-md-6 {
    padding: 20px;

    .features {
      &-box {
        height: 120px;
      }

      &-left {
        height: 120px;
        width: 20%;
        float: left;

        & .svg-inline--fa {
          padding-top: 13px;
          font-size: 50px;
        }
      }

      &-right {
        height: 120px;
        width: 80%;
        float: left;

        & h4 {
          padding-top: 10px;
          padding-left: 15px;
          text-align: left;
        }

        & p {
          padding-left: 15px;
          text-align: left;
        }
      }
    }
  }
}
// .col-md-6
//   > .features-box
//     >.feature-left
//       >.fa-trophy

//   .feature-right
/*-- End Features Section --*/
