*,
*::after,
*::before  // Global Reset
{
  margin: 0;
  padding: 0;
}

$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

/*-- Start Navbar --*/
.navbar {
  text-transform: uppercase;

  & li {
    padding-right: 0.7rem;
  }

  &-nav .nav-link {
    color: white !important;
    padding: 0.7rem 0;
    float: right;

    &:hover,
    &.active {
      color: #1ebba3 !important;
    }
  }

  &-brand img {
    width: 2rem;
    margin-left: 30px;
  }

  &-toggler {
    bottom: none !important;
    outline: none !important;
  }

  & .svg-inline--fa {
    color: #fff i !important;
    font-size: 1.6rem;
  }
}
/*-- End Navbar --*/

/*Start Carousel Slider*/
.carousel-item {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
  text-transform: uppercase;
  top: 38%;
  & h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
  }

  & h3 {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    padding-bottom: 1.6rem;
  }

  .btn-lg {
    border-width: thin;
    background-repeat: 0;
    font-size: 1.1rem;
  }

  @media screen and (max-width: 767px) {
    & h1 {
      font-size: 2.3rem;
      letter-spacing: 0.15rem;
      padding-bottom: 0.5rem;
    }
    & h3 {
      font-size: 1.2rem;
      padding-bottom: 1.2rem;
    }

    .btn-lg {
      font-size: 1rem;
    }
  }
}
/*End Carousel Slider*/

/*-- Start Welcome Text Section --*/
.welcome {
  padding: 5rem 10rem;
  margin-top: -140px;
  background-color: #fff;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  & h1 {
    color: #333;
  }

  & .home-btn {
    margin-top: 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #012f7e;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: thin;
  }

  & .btn:focus {
    box-shadow: none;
  }
}
/*-- End Welcome Text Section --*/

/*-- Start About us Section --*/
#about {
  padding: 100px 0 100px;

  & .col-md-6 {
    padding: 20px 10px;
  }

  & .yoga {
    margin: 50px auto;
  }

  & h3 {
    margin: 20px auto;
  }
}
/*-- End About us Section --*/

/*-- Start Services Section --*/
#services {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  & .col-md-4 {
    padding: 20px;
    cursor: pointer;

    &:hover img {
      transform: rotateY(360deg);
    }

    & .basi {
      margin-top: 15rem;
    }

    & h4 {
      padding: 5px;
    }

    & p {
      padding: 5px;
      text-align: justify;
    }

    & img {
      width: 50px;
      transition: 1s ease-in-out;
    }
  }

  & .m-negative-1 {
    margin-top: -1rem;
  }
}
/*-- End Services Section --*/

/*-- Start Features Section --*/
#features {
  padding: 100px 0 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/img/sports/dubmbells.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  & .col-md-6 {
    padding: 20px;

    .features {
      &-box {
        height: 120px;
      }

      &-left {
        height: 120px;
        width: 20%;
        float: left;

        & .svg-inline--fa {
          padding-top: 13px;
          font-size: 50px;
        }
      }

      &-right {
        height: 120px;
        width: 80%;
        float: left;

        & h4 {
          padding-top: 10px;
          padding-left: 15px;
          text-align: left;
        }

        & p {
          padding-left: 15px;
          text-align: left;
        }
      }
    }
  }
}
/*-- End Features Section --*/

/*-- Start Testemonials Section --*/
#testemonials {
  position: relative;
  padding: 20rem 0;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    // height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    overflow: hidden;
    // overflow: hidden; //! Ехх нещо не го разбрах що треше да се позлва тук каза каза ,че видеото overflow-вало и че тая опция е много ГУТ за тия работи пишеме въпреки ,че на мен ми изглеждаше добре

    &__content {
      height: 100%;
      object-fit: cover;
    }
  }

  & .col-md-4 {
    padding: 10px 30px;

    & img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: -30px;
      margin-top: -40px;
      border: 5px solid #fff;
      margin-bottom: 30px;
    }

    & .review {
      font-size: 16px;
      padding: 10px 10px 10px 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);

      & .fa-twitter {
        color: #013f7e;
        font-weight: 700;
        font-size: 18px;
        margin-right: 0.1rem;
      }
    }
  }

  & .mid-user {
    margin: -30px 0 -30px;
  }

  & span {
    color: #013f7e;
  }

  & h1 {
    margin-bottom: 20px;
    color: #013f7e;
  }

  & p {
    padding-bottom: 30px;
  }

  @media screen and (max-width: 1600px) {
    padding: 20rem 0;
  }

  @media screen and (max-width: 1140px) {
  }

  @media screen and (max-width: 960px) {
    padding: 5rem 0;
  }

  @media screen and (max-width: 760px) {
  }

  @media screen and (max-width: 540px) {
    padding: 5rem 0 5rem;
  }
}
/*-- End Testemonials Section --*/

/*-- Start Product Section --*/
#products {
  padding: 10rem 13rem 15rem 13rem;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1582%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M32.42 223.84L67.93 244.34L67.93 285.34L32.42 305.84L-3.09 285.34L-3.09 244.34zM67.93 285.34L103.44 305.84L103.44 346.84L67.93 367.34L32.42 346.84L32.42 305.84zM32.42 469.84L67.93 490.34L67.93 531.34L32.42 551.84L-3.09 531.34L-3.09 490.34zM103.44 -22.16L138.94 -1.66L138.94 39.34L103.44 59.84L67.93 39.34L67.93 -1.66zM103.44 223.84L138.94 244.34L138.94 285.34L103.44 305.84L67.93 285.34L67.93 244.34zM174.45 -22.16L209.96 -1.66L209.96 39.34L174.45 59.84L138.94 39.34L138.94 -1.66zM209.96 39.34L245.47 59.84L245.47 100.84L209.96 121.34L174.45 100.84L174.45 59.84zM245.47 -22.16L280.98 -1.66L280.98 39.34L245.47 59.84L209.96 39.34L209.96 -1.66zM316.48 100.84L351.99 121.34L351.99 162.34L316.48 182.84L280.98 162.34L280.98 121.34zM351.99 285.34L387.5 305.84L387.5 346.84L351.99 367.34L316.48 346.84L316.48 305.84zM458.52 100.84L494.02 121.34L494.02 162.34L458.52 182.84L423.01 162.34L423.01 121.34zM529.53 100.84L565.04 121.34L565.04 162.34L529.53 182.84L494.02 162.34L494.02 121.34zM565.04 162.34L600.55 182.84L600.55 223.84L565.04 244.34L529.53 223.84L529.53 182.84zM565.04 285.34L600.55 305.84L600.55 346.84L565.04 367.34L529.53 346.84L529.53 305.84zM600.55 223.84L636.06 244.34L636.06 285.34L600.55 305.84L565.04 285.34L565.04 244.34zM600.55 469.84L636.06 490.34L636.06 531.34L600.55 551.84L565.04 531.34L565.04 490.34zM707.07 285.34L742.58 305.84L742.58 346.84L707.07 367.34L671.56 346.84L671.56 305.84zM742.58 -22.16L778.09 -1.66L778.09 39.34L742.58 59.84L707.07 39.34L707.07 -1.66zM778.09 531.34L813.6 551.84L813.6 592.84L778.09 613.34L742.58 592.84L742.58 551.84zM813.6 223.84L849.11 244.34L849.11 285.34L813.6 305.84L778.09 285.34L778.09 244.34zM849.11 285.34L884.61 305.84L884.61 346.84L849.11 367.34L813.6 346.84L813.6 305.84zM813.6 346.84L849.11 367.34L849.11 408.34L813.6 428.84L778.09 408.34L778.09 367.34zM920.12 408.34L955.63 428.84L955.63 469.84L920.12 490.34L884.61 469.84L884.61 428.84zM991.14 162.34L1026.65 182.84L1026.65 223.84L991.14 244.34L955.63 223.84L955.63 182.84zM955.63 223.84L991.14 244.34L991.14 285.34L955.63 305.84L920.12 285.34L920.12 244.34zM955.63 469.84L991.14 490.34L991.14 531.34L955.63 551.84L920.12 531.34L920.12 490.34zM991.14 531.34L1026.65 551.84L1026.65 592.84L991.14 613.34L955.63 592.84L955.63 551.84zM1026.65 -22.16L1062.15 -1.66L1062.15 39.34L1026.65 59.84L991.14 39.34L991.14 -1.66zM1097.66 -22.16L1133.17 -1.66L1133.17 39.34L1097.66 59.84L1062.15 39.34L1062.15 -1.66zM1133.17 285.34L1168.68 305.84L1168.68 346.84L1133.17 367.34L1097.66 346.84L1097.66 305.84zM1168.68 100.84L1204.19 121.34L1204.19 162.34L1168.68 182.84L1133.17 162.34L1133.17 121.34zM1204.19 285.34L1239.69 305.84L1239.69 346.84L1204.19 367.34L1168.68 346.84L1168.68 305.84zM1204.19 408.34L1239.69 428.84L1239.69 469.84L1204.19 490.34L1168.68 469.84L1168.68 428.84zM1204.19 531.34L1239.69 551.84L1239.69 592.84L1204.19 613.34L1168.68 592.84L1168.68 551.84zM1275.2 285.34L1310.71 305.84L1310.71 346.84L1275.2 367.34L1239.69 346.84L1239.69 305.84zM1346.22 162.34L1381.73 182.84L1381.73 223.84L1346.22 244.34L1310.71 223.84L1310.71 182.84zM1310.71 469.84L1346.22 490.34L1346.22 531.34L1310.71 551.84L1275.2 531.34L1275.2 490.34zM1417.23 408.34L1452.74 428.84L1452.74 469.84L1417.23 490.34L1381.73 469.84L1381.73 428.84zM1417.23 531.34L1452.74 551.84L1452.74 592.84L1417.23 613.34L1381.73 592.84L1381.73 551.84zM1488.25 162.34L1523.76 182.84L1523.76 223.84L1488.25 244.34L1452.74 223.84L1452.74 182.84z' stroke='rgba(167%2c 167%2c 167%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M28.32 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM63.83 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM63.83 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM28.32 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-7.19 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-7.19 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM99.34 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM99.34 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM63.83 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM28.32 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM28.32 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM63.83 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM63.83 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM28.32 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-7.19 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-7.19 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM99.34 -22.16 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM134.84 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM134.84 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM99.34 59.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM63.83 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM63.83 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM99.34 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM134.84 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM134.84 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM170.35 -22.16 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM205.86 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM205.86 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM170.35 59.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM241.37 59.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM241.37 100.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM205.86 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM170.35 100.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM241.37 -22.16 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM276.88 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM276.88 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM312.38 100.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM347.89 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM347.89 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM312.38 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM276.88 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM276.88 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM347.89 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM383.4 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM383.4 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM347.89 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM312.38 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM312.38 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM454.42 100.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM489.92 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM489.92 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM454.42 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM418.91 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM418.91 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM525.43 100.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM560.94 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM560.94 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM525.43 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM596.45 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM596.45 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM560.94 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM525.43 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM560.94 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM596.45 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM596.45 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM560.94 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM525.43 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM525.43 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM631.96 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM631.96 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM596.45 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM631.96 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM631.96 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM596.45 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM560.94 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM560.94 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM702.97 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM738.48 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM738.48 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM702.97 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM667.46 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM667.46 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM738.48 -22.16 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM738.48 59.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM702.97 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM702.97 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM809.5 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM809.5 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 613.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM738.48 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM738.48 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM809.5 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM845.01 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM845.01 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM809.5 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM880.51 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM880.51 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM845.01 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM809.5 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM845.01 408.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM809.5 428.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 408.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM773.99 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM916.02 408.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM951.53 428.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM951.53 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM916.02 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM880.51 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM880.51 428.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1022.55 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1022.55 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM951.53 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM951.53 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM951.53 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM916.02 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM916.02 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM951.53 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM916.02 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1022.55 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1022.55 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 613.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM951.53 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1022.55 -22.16 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1058.05 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1058.05 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1022.55 59.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM987.04 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1093.56 -22.16 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1129.07 -1.66 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1129.07 39.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1093.56 59.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1129.07 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1129.07 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1093.56 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1093.56 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 100.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1129.07 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1129.07 121.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1235.59 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1235.59 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 408.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1235.59 428.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1235.59 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 428.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1235.59 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1235.59 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1200.09 613.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1164.58 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1271.1 285.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1306.61 305.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1306.61 346.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1271.1 367.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1342.12 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1377.63 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1377.63 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1342.12 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1306.61 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1306.61 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1306.61 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1342.12 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1342.12 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1306.61 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1271.1 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1271.1 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1413.13 408.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1448.64 428.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1448.64 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1413.13 490.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1377.63 469.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1377.63 428.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1413.13 531.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1448.64 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1448.64 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1413.13 613.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1377.63 592.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1377.63 551.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1484.15 162.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1519.66 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1519.66 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1484.15 244.34 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1448.64 223.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM1448.64 182.84 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0z' fill='rgba(167%2c 167%2c 167%2c 1)'%3e%3c/path%3e%3cpath d='M29.83 402.86L88.72 436.86L88.72 504.86L29.83 538.86L-29.06 504.86L-29.06 436.86zM88.72 504.86L147.61 538.86L147.61 606.86L88.72 640.86L29.83 606.86L29.83 538.86zM206.5 96.86L265.4 130.86L265.4 198.86L206.5 232.86L147.61 198.86L147.61 130.86zM206.5 300.86L265.4 334.86L265.4 402.86L206.5 436.86L147.61 402.86L147.61 334.86zM206.5 504.86L265.4 538.86L265.4 606.86L206.5 640.86L147.61 606.86L147.61 538.86zM324.29 96.86L383.18 130.86L383.18 198.86L324.29 232.86L265.4 198.86L265.4 130.86zM383.18 -5.14L442.07 28.86L442.07 96.86L383.18 130.86L324.29 96.86L324.29 28.86zM500.96 -5.14L559.85 28.86L559.85 96.86L500.96 130.86L442.07 96.86L442.07 28.86zM677.64 504.86L736.53 538.86L736.53 606.86L677.64 640.86L618.74 606.86L618.74 538.86zM795.42 300.86L854.31 334.86L854.31 402.86L795.42 436.86L736.53 402.86L736.53 334.86zM736.53 402.86L795.42 436.86L795.42 504.86L736.53 538.86L677.64 504.86L677.64 436.86zM854.31 -5.14L913.2 28.86L913.2 96.86L854.31 130.86L795.42 96.86L795.42 28.86zM972.09 402.86L1030.98 436.86L1030.98 504.86L972.09 538.86L913.2 504.86L913.2 436.86zM1089.88 -5.14L1148.77 28.86L1148.77 96.86L1089.88 130.86L1030.98 96.86L1030.98 28.86zM1325.44 198.86L1384.33 232.86L1384.33 300.86L1325.44 334.86L1266.55 300.86L1266.55 232.86zM1384.33 300.86L1443.22 334.86L1443.22 402.86L1384.33 436.86L1325.44 402.86L1325.44 334.86zM1443.22 -5.14L1502.11 28.86L1502.11 96.86L1443.22 130.86L1384.33 96.86L1384.33 28.86zM1443.22 402.86L1502.11 436.86L1502.11 504.86L1443.22 538.86L1384.33 504.86L1384.33 436.86z' stroke='rgba(0%2c 56%2c 140%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M23.03 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM81.92 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM81.92 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM23.03 538.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM-35.86 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM-35.86 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM140.81 538.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM140.81 606.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM81.92 640.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM23.03 606.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM199.7 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM258.6 130.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM258.6 198.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM199.7 232.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM140.81 198.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM140.81 130.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM199.7 300.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM258.6 334.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM258.6 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM199.7 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM140.81 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM140.81 334.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM199.7 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM258.6 538.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM258.6 606.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM199.7 640.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM317.49 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM376.38 130.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM376.38 198.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM317.49 232.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM376.38 -5.14 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM435.27 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM435.27 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM317.49 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM494.16 -5.14 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM553.05 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM553.05 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM494.16 130.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM670.84 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM729.73 538.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM729.73 606.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM670.84 640.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM611.94 606.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM611.94 538.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM788.62 300.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM847.51 334.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM847.51 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM788.62 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM729.73 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM729.73 334.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM788.62 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM670.84 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM847.51 -5.14 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM906.4 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM906.4 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM847.51 130.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM788.62 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM788.62 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM965.29 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1024.18 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1024.18 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM965.29 538.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM906.4 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM906.4 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1083.08 -5.14 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1141.97 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1141.97 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1083.08 130.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1024.18 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1024.18 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1318.64 198.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1377.53 232.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1377.53 300.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1318.64 334.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1259.75 300.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1259.75 232.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1436.42 334.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1436.42 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1377.53 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1318.64 402.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1436.42 -5.14 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1495.31 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1495.31 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1436.42 130.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1377.53 96.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1377.53 28.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1495.31 436.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1495.31 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1436.42 538.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0zM1377.53 504.86 a6.8 6.8 0 1 0 13.6 0 a6.8 6.8 0 1 0 -13.6 0z' fill='rgba(0%2c 56%2c 140%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1582'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  .info-header {
    width: 50%;
    margin: auto;
  }

  h1 {
    color: #fff !important;
    font-size: 2.4rem;
  }

  .flip-box {
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
    margin-top: 25px;
    color: white;

    &-front,
    &-back {
      background-image: linear-gradient(
        to right top,
        #000000,
        #161616,
        #242424,
        #343434,
        #444444,
        #565656,
        #696969,
        #7d7d7d,
        #989898,
        #b5b5b5,
        #d2d2d2,
        #f0f0f0
      );
      background-size: cover;
      background-position: center;
      border-radius: 8px;
      min-height: 475px;
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      backface-visibility: hidden;
    }

    &-front {
      transform: rotateY(0deg);
      transform-style: preserve-3d;
      &_img-1 {
        background-image: url(/img/gym-gallery/1.jpg);
      }

      &_img-2 {
        background-image: url(https://source.unsplash.com/random/560x560);
      }

      &_img-3 {
        background-image: url(https://source.unsplash.com/random/561x561);
      }

      &_img-4 {
        background-image: url(https://source.unsplash.com/random/562x563);
      }
    }

    &:hover .flip-box-front {
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
    }

    &-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: rotateY(180deg);
      transform-style: preserve-3d;

      &_img-1 {
        background-image: url(/img/gym-gallery/2.jpg);
      }

      &_img-2 {
        background-image: url(https://source.unsplash.com/random/561x561);
      }

      &_img-3 {
        background-image: url(https://source.unsplash.com/random/562x562);
      }

      &_img-4 {
        background-image: url(https://source.unsplash.com/random/563x563);
      }
    }

    &:hover .flip-box-back {
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }

    & .inner {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 60px;
      outline: 1px solid transparent;
      perspective: inherit;
      z-index: 2;
      transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
    }

    &-header {
      font-size: 30px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    & p {
      font-size: 20px;
      line-height: 1.5rem;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &-img {
      margin-top: 25px;
    }

    &-button {
      background-color: transparent;
      border: solid 2px #fff;
      border-radius: 2px;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      margin-top: 25px;
      padding: 15px 20px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 1600px) {
    padding: 10rem 2rem 15rem 2rem;
  }

  @media screen and (max-width: 1140px) {
    padding: 10rem 7rem;

    h1 {
      font-size: 1.4rem;
      font-weight: 600;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 960px) {
    padding: 10rem 5rem 15rem 5rem;
  }

  @media screen and (max-width: 760px) {
    padding: 10rem 8rem 15rem 8rem;
  }

  @media screen and (max-width: 540px) {
    padding: 10rem 3rem 15rem 3rem;
  }
}
/*-- End Product Section --*/

/*-- Start Gallery Section --*/
.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template: repeat(7, 5vw) / repeat(8, 1fr);
  // grid-gap: 1rem;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding: 1.5rem;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1460%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M -438.8179302620209%2c465 C -294.82%2c405.4 -6.82%2c154.8 281.1820697379791%2c167 C 569.18%2c179.2 713.18%2c512.4 1001.1820697379791%2c526 C 1289.18%2c539.6 1633.42%2c275 1721.182069737979%2c235 C 1808.95%2c195 1496.24%2c307.8 1440%2c326' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1202.5510050311784%2c93 C -1058.55%2c134.4 -770.55%2c314.6 -482.5510050311784%2c300 C -194.55%2c285.4 -50.55%2c-8 237.44899496882158%2c20 C 525.45%2c48 716.94%2c432.2 957.4489949688216%2c440 C 1197.96%2c447.8 1343.49%2c135.2 1440%2c59' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -402.5141217866335%2c278 C -258.51%2c319.6 29.49%2c540.2 317.4858782133665%2c486 C 605.49%2c431.8 749.49%2c22.4 1037.4858782133665%2c7 C 1325.49%2c-8.4 1676.98%2c387.2 1757.4858782133665%2c409 C 1837.99%2c430.8 1503.5%2c174.6 1440%2c116' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -628.727373485911%2c518 C -484.73%2c443.6 -196.73%2c140.2 91.27262651408903%2c146 C 379.27%2c151.8 523.27%2c554.6 811.272626514089%2c547 C 1099.27%2c539.4 1405.53%2c131.2 1531.272626514089%2c108 C 1657.02%2c84.8 1458.25%2c366.4 1440%2c431' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1460'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  &__item {
    &--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
    }

    &--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3;
    }

    &--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7;
    }

    &--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / -1;
    }

    &--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2;
    }

    &--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2;
    }

    &--7 {
      grid-row: 4 / 5;
      grid-column: 5 / 6;
    }

    &--8 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 2;
    }

    &--9 {
      grid-row: 3 / span 3;
      grid-column: 8 / -1;
    }

    &--10 {
      grid-row: 6 / span 2;
      grid-column: 1 / 2;
    }

    &--11 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2;
    }

    &--12 {
      grid-row: 6 / span 2;
      grid-column: 4 / 5;
    }

    &--13 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 3;
    }

    &--14 {
      grid-row: 6 / span 2;
      grid-column: 8 / -1;
    }

    &--15 {
      grid-row: 6 / span 2;
      grid-column: 8 / -1;
    }

    &--16 {
      grid-row: 6 / span 2;
      grid-column: 8 / -1;
    }

    &--17 {
      grid-row: 6 / span 2;
      grid-column: 8 / -1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    filter: brightness(0.5) grayscale(100);
    transition: 0.3s ease-in-out;
  }

  .gallery__img:hover {
    filter: brightness(1) grayscale(0);
  }
}

/*-- End Gallery Section --*/

/*TEST SECTION*/
#motivation-call {
  .gradient {
    background-color: transparent;
    background-image: linear-gradient(30deg, #00388c 0%, #19b0b8 100%);
    padding: 100px 0;
    transition: background 0.6s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;

    &:hover {
      background-color: transparent;
      background-image: linear-gradient(190deg, #00388c 0%, #19b0b8 100%);
      box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.37) inset;
    }
  }
}
/*TEST SECTION END*/

/*-- Start Subscribe Section --*/
.subscribe {
  padding: 50px 20px;
  background-color: rgb(179, 179, 179);
  position: relative;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: -125px;

  & h3,
  & p {
    color: #fff;
  }

  & .input-group {
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;

    & .form-control {
      border: none;
      background: transparent;
      &:focus {
        box-shadow: none;
        background: transparent;
      }
    }

    /*Start Subscribe button*/
    &-append {
      background-image: linear-gradient(to right, #1c03b5, #5c8bef);
      border-radius: 30px;

      & .btn:focus {
        box-shadow: none;
      }
    }

    &-text {
      background: transparent;
      border: none;
      color: #fff;
    }
    /*End Subscribe button*/
  }
}
/*-- End Subscribe Section --*/

/*-- Start Footer Section --*/
#footer {
  // margin-top: 80px;
  padding: 100px;
  // background-color: #efefef;
  background-color: #3a3a3a;
  color: #aaa;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.3125rem;

  .footer-logo {
    width: 30px;
    margin: 25px 0 15px;
    background-color: black;
    border-radius: 50%;
  }

  & h1 {
    font-size: 15px;
    text-align: left;
    margin: 25px 0 25px;
  }

  & p {
    font-size: 12px;
    text-align: left;
  }

  & .city {
    margin-left: 37px;
  }

  & .svg-inline--fa {
    margin-right: 20px;
    font-size: 15px;
  }

  & hr {
    margin-top: 10px;
  }

  & .fa-heart {
    color: red;
    font-size: 17px;
  }

  & .copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
  }
}
/*-- End Footer Section --*/

/*-- Social Icon Section --*/
#social {
  font-family: tahoma;

  .sidebar {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    &-list {
      margin: 0;
      padding: 0;

      &__item {
        list-style: none;
        margin: 5px 0;

        .social-button {
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 25px;
          color: #fff;
          background: #16a085;
          display: block;
          text-align: center;
          position: relative;

          &__back {
            //buttons back
            position: absolute;
            top: 0;
            left: 120px;
            width: 120px;
            height: 50px;
            color: #000;
            background: #fff;
            font-size: 15px;
            z-index: -1;
            opacity: 0;
            backface-visibility: hidden;
            transition: 0.5s;
          }
        }

        &:hover .social-button__back {
          opacity: 1;
          backface-visibility: visible;
          left: -120px;
        }
      }
    }
  }
}

/*-- End Social Icon Section --*/
